<div class="w-screen h-auto py-8 px-12 flex flex-col justify-between max-md:h-auto max-md:px-2">
    <div class="w-full flex justify-center items-center max-md:flex-col">
        <div class="w-full">
            <div class="flex justify-between items-center max-md:justify-center max-md:flex-col">
                <div class="flex justify-center items-start max-md:flex-col text-center">
                    <img class="w-[60px]" src="favicon.svg" alt="">
                    <div class="flex flex-col justify-center items-center text-center">
                        <span class="f-alexan ml-6  text-[36px]">Mónica Murillo</span>
                        <p class="flex f-alexan my-4 mb-8 max-md:text-center max-md:justify-center max-md:items-center">Cuidando de ti, día a día</p>
                    </div>
                </div>
                <div>
                    <p class="f-alexan font-bold">Contacto</p>
                    <a href="https://wa.me/+593959578722?text=Hola+,+deseo+información" target="_blank" class="flex justify-center items-center max-md:pr-0">
                        <span class="f-alexan underline mr-4">Whatsapp</span>
                        <i class="fa-brands fa-whatsapp text-[28px]"></i>
                    </a>
                </div>
            </div>
            <!-- <div class="flex f-alexan max-md:flex-col max-md:justify-center max-md:items-center">
                <div>
                    <i class="fa-solid fa-mobile-screen"></i>
                    <span>+593 987 654 321</span>
                </div>
                <div class="ml-6 max-md:ml-0 max-md:mt-2">
                    <i class="fa-solid fa-envelope"></i>
                    <span>correo@example.com</span>
                </div>
            </div>
            <div class="flex f-alexan mt-4 max-md:justify-center max-md:items-center">
                <div>
                    <a href=""><i class="fa-brands fa-facebook text-[20px]"></i></a>
                </div>
                <div class="ml-6">
                    <a href=""><i class="fa-brands fa-instagram text-[20px]"></i></a>
                </div>
                <div>
                    <a href=""><i class="fa-brands fa-whatsapp text-[20px]"></i></a>
                </div>
            </div> -->
        </div>
        <!-- <div class="w-full flex justify-start items-center max-md:justify-center max-md:my-8">
            <div>
                <h1 class="flex max-md:justify-center max-md:items-center f-alexan font-bold max-md:text-center">Páginas</h1>
                <ul>
                    <li class="text-black flex max-md:justify-center max-md:items-center f-alexan my-2 max-md:text-center"><a href="#view-1">¿Quiénes somos?</a> </li>
                    <li class="text-black flex max-md:justify-center max-md:items-center f-alexan my-2 max-md:text-center"><a href="#view-2">Productos</a></li>
                    <li class="text-black flex max-md:justify-center max-md:items-center f-alexan my-2 max-md:text-center"><a href="#view-3">Reseñas</a></li>
                </ul>
            </div>
        </div> -->
    </div>
    <div class="w-full flex justify-between items-center  max-md:flex-col max-md:mt-8">
        <span class="f-alexan text-[18px]">Ecuador-Shaddai © 2023</span>
        <span class="f-alexan max-md:mt-4">Code by <a href="https://joseph-san.com/" class=" underline"> Joseph San</a></span>
    </div>
</div>