---
import Navbar from "./Navbar";

---

<nav class="fixed z-[999] main-navbar">
    <div class="w-screen bg-[#ededeb] flex justify-between items-center px-12 py-3 send-message max-md:px-6">
        <h1 class="f-alexan">Enviame un mensaje!</h1>
        <a href="https://wa.me/+593959578722?text=Hola+,+deseo+información" target="_blank"> <span class="f-alexan mr-3 underline max-md:hidden">Whatsapp</span> <i class="fa-brands fa-whatsapp text-black text-[24px]"></i></a>
    </div>
    <ul class="w-screen flex justify-between items-center px-12 py-4 f-alexan max-md:px-4">
        <li><a href="/"><img class="w-[50px] h-auto" src="favicon.svg" alt=""></a></li>
        <!-- <li>
            <div>
                <ul class="flex justify-center items-center">
                    <li class="text-white mx-8"><a href="#view-1">¿Quiénes somos?</a> </li>
                    <li class="text-white mx-8"><a href="#view-2">Productos</a></li>
                    <li class="text-white mx-8"><a href="#view-3">Reseñas</a></li>
                </ul>
            </div>
        </li> -->
        <li><a class="bg-white text-black p-4 f-alexan rounded-full mt-8 hover:shadow-[8px_8px_0px_-3px_rgba(0,0,0,1);] duration-200" href="https://wa.me/+593959578722?text=Hola+,+deseo+información" target="_blank">Contáctame</a></li>
    </ul>
    <!-- <div class="w-screen justify-between items-center hidden max-lg:flex px-6 py-3">
        <a href="/"><img class="w-[50px] h-auto" src="favicon.svg" alt=""></a>
        <div><Navbar client:only/></div>
    </div> -->
</nav> 