---
import Card from "./Card.astro";

---

<div class="relative w-screen h-auto flex flex-col justify-center items-center ">
    <div class="w-full marquee__wrapper overflow-hidden max-md:px-4 p-6 cursor-grab">
        <div class="marquee__container">
            <div class="marquee">
                <div class="marquee__bl splide">
                    <div class="marquee__wrapp splide__track overflow-hidden splide__track">
                        <ul class="splide__list flex p-6">
                            <li class="marquee__item splide__slide f-alexan">
                                <Card title="Product" href="#" body="este es un producto" img_src="product-1.jpg"/>
                            </li>
                            <li class="marquee__item splide__slide f-alexan">
                                <Card title="Product" href="#" body="este es un producto" img_src="product-2.jpg"/>
                            </li>
                            <li class="marquee__item splide__slide f-alexan">
                                <Card title="Product" href="#" body="este es un producto" img_src="product-3.jpg"/>
                            </li>
                            <li class="marquee__item splide__slide f-alexan">
                                <Card title="Product" href="#" body="este es un producto" img_src="product-4.jpg"/>
                            </li>
                            <li class="marquee__item splide__slide f-alexan">
                                <Card title="Product" href="#" body="este es un producto" img_src="product-5.jpg"/>
                            </li>
                            <li class="marquee__item splide__slide f-alexan">
                                <Card title="Product" href="#" body="este es un producto" img_src="product-6.jpg"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
